#version-td {
  padding: 0 0 0 0.5em;
}

#version-select {
  background-color: var(--page-background-color);
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
}
