# CMake build directory
/build/

# downloadable dependencies
/deps/doctest/
/deps/picojson/

# generated documentation
/doc/html/
/doc/theme/
/doc/versions.txt

# downloadable tests directory
/test/wpt/

# Visual Studio
.vs/
