name: Windows

on:
  push:
    branches: [ main, 'v[0-9]+.x' ]
    paths-ignore: [ 'doc/**', '**.md' ]
  pull_request:
    paths-ignore: [ 'doc/**', '**.md' ]

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: VS 2019 C++17
            os: windows-2019
            generator: "Visual Studio 16 2019"
            cxx_standard: 17
            cmake_options: ""

          - name: VS 2019 C++20
            os: windows-2019
            generator: "Visual Studio 16 2019"
            cxx_standard: 20
            cmake_options: ""

          - name: VS 2022 C++17 shared-lib
            os: windows-2022
            generator: "Visual Studio 17 2022"
            cxx_standard: 17
            cmake_options: "-DBUILD_SHARED_LIBS=ON"

          - name: VS 2022 C++20
            os: windows-2022
            generator: "Visual Studio 17 2022"
            cxx_standard: 20
            cmake_options: ""

          - name: VS 2022 C++23
            os: windows-2022
            generator: "Visual Studio 17 2022"
            cxx_standard: 23
            cmake_options: ""

          - name: VS 2022 Clang C++17 shared-lib
            os: windows-2022
            generator: "Visual Studio 17 2022"
            cxx_standard: 17
            cmake_options: "-T ClangCL -DBUILD_SHARED_LIBS=ON"

          - name: VS 2022 Clang C++20
            os: windows-2022
            generator: "Visual Studio 17 2022"
            cxx_standard: 20
            cmake_options: "-T ClangCL"

    steps:
    - uses: actions/checkout@v4
    - name: get dependencies
      run: init.bat
      shell: cmd
    - name: cmake
      run: cmake -S . -B build -G "${{ matrix.generator }}" -A x64 -DCMAKE_CXX_STANDARD=${{ matrix.cxx_standard }} ${{ matrix.cmake_options }}
    - name: build
      run: cmake --build build --config Release
    - name: test
      run: ctest --test-dir build -C Release -V
