name: Ubuntu

on:
  push:
    branches: [ main, 'v[0-9]+.x' ]
    paths-ignore: [ 'doc/**', '**.md' ]
  pull_request:
    paths-ignore: [ 'doc/**', '**.md' ]

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: clang++ C++20 shared-lib
            os: ubuntu-latest
            cxx_compiler: clang++
            cxx_standard: 20
            cmake_options: "-DBUILD_SHARED_LIBS=ON"

          - name: clang++ C++17 with sanitizer
            os: ubuntu-latest
            cxx_compiler: clang++
            cxx_standard: 17
            cmake_options: "-DUPA_TEST_SANITIZER=ON"

          - name: clang++ C++17 with valgrind
            os: ubuntu-latest
            cxx_compiler: clang++
            cxx_standard: 17
            cmake_options: "-DUPA_TEST_VALGRIND=ON"
            install: "valgrind"

          - name: g++-14 C++23
            os: ubuntu-24.04
            cxx_compiler: g++-14
            cxx_standard: 23
            cmake_options: ""

          - name: g++-12 C++20
            os: ubuntu-24.04
            cxx_compiler: g++-12
            cxx_standard: 20
            cmake_options: ""

          - name: g++ C++17 Qt
            os: ubuntu-24.04
            cxx_compiler: g++
            cxx_standard: 17
            cmake_options: "-DUPA_TEST_URL_FOR_QT=ON"
            install: "qt6-base-dev"

          - name: g++ C++17 Codecov
            os: ubuntu-22.04
            cxx_compiler: g++
            cxx_standard: 17
            cmake_options: "-DUPA_TEST_COVERAGE=ON"
            install: "lcov"
            after_test: |
              # See: https://github.com/codecov/example-cpp11-cmake
              lcov --capture --directory . --output-file coverage.info
              lcov --remove coverage.info '/usr/*' '*/deps/*' '*/test/*' --output-file coverage.info
              lcov --list coverage.info
            codecov: true

          - name: g++ C++17 amalgamated
            os: ubuntu-latest
            cxx_compiler: g++
            cxx_standard: 17
            cmake_options: "-DUPA_AMALGAMATED=ON -DUPA_BUILD_EXAMPLES=ON"
            before_cmake: tools/amalgamate.sh

          - name: g++-9 C++17 shared-lib
            os: ubuntu-22.04
            cxx_compiler: g++-9
            cxx_standard: 17
            cmake_options: "-DUPA_BUILD_EXAMPLES=ON -DBUILD_SHARED_LIBS=ON"

    steps:
    - uses: actions/checkout@v5
    - name: apt-get install
      if: ${{ matrix.install }}
      run: |
        sudo apt-get update
        sudo apt-get install -y ${{ matrix.install }}
    - name: get dependencies
      run: ./init.sh
    - name: before cmake
      if: ${{ matrix.before_cmake }}
      run: ${{ matrix.before_cmake }}
    - name: cmake
      run: cmake -S . -B build -DCMAKE_CXX_COMPILER=${{ matrix.cxx_compiler }} -DCMAKE_CXX_STANDARD=${{ matrix.cxx_standard }} ${{ matrix.cmake_options }}
    - name: build
      run: cmake --build build
    - name: test
      run: ctest --output-on-failure --test-dir build
    - name: after test
      if: ${{ matrix.after_test }}
      run: ${{ matrix.after_test }}
    - uses: codecov/codecov-action@v5
      if: ${{ matrix.codecov }}
      with:
        files: ./coverage.info
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: false

  build_in_container:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    container: ${{ matrix.container }}
    strategy:
      matrix:
        include:
          - name: clang++-7 C++17
            container: ubuntu:20.04
            cxx_standard: 17
            cmake_options: "-G Ninja -DCMAKE_CXX_COMPILER=clang++-7 -DCMAKE_CXX_FLAGS=-stdlib=libc++"
            install: "curl git unzip clang-7 libc++-7-dev libc++abi-7-dev"

          - name: g++-8 C++17
            container: gcc:8
            cxx_standard: 17
            cmake_options: ""

    steps:
    - name: apt-get install
      if: ${{ matrix.install }}
      run: |
        apt-get update
        apt-get install -y ${{ matrix.install }}
    - uses: actions/checkout@v5
    - uses: lukka/get-cmake@v4.1.2
    - name: get dependencies
      run: |
        git config --global --add safe.directory $(pwd)
        ./init.sh
    - name: cmake
      run: cmake -S . -B build -DCMAKE_CXX_STANDARD=${{ matrix.cxx_standard }} ${{ matrix.cmake_options }}
    - name: build
      run: cmake --build build
    - name: test
      run: ctest --output-on-failure --test-dir build
